/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
    width:19%;
}

body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header{
margin-left:20%;
}
.text-dark{
    color:white;
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
    /*background: rgba(0,0,0,.4);*/
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    margin: 1%;
    z-index: 10000;
}

    .hover_bkgr_fricc .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: 80%;
        /*min-height: 100px;*/
        vertical-align: middle;
        width: 70%;
        position: relative;
        border-radius: 8px;
        padding: 15px;
        /*padding: 15px 5%;*/
    }

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

    .popupCloseButton:hover {
        background-color: #ccc;
    }

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    display: inline-block;
    color: mediumblue;
    text-decoration: underline;
    /*font-weight: bold;*/
}

    .trigger_popup_fricc:hover {
        background-color: #e7ecf5
    }
/* Popup box BEGIN */

.detailviewiframe {
    width: 100%;
    height: 100%
}

.pageviewiframe {
    /*width: 100%;*/
    width: 580px;
    height: 435px
}

.pagebottomviewiframe {
    /*width: 100%;*/
    width: 380px;
    height: 295px
}
